.home3{
    text-align: center;
    margin-left: 360px;
    margin-right: 360px;
    margin-top: 193px;
    margin-bottom: 193px;
}
​
.home3head{
    font-family: "Poppins Bold";
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 24pt;
}
​
.home3text{
    font-family: "Poppins Regular";
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media(min-width: 300px){
    .home3{
        margin-left: 10px;
        margin-right: 10px;
    }
    .home3head{
        margin-bottom: 10px;
        font-size: 18pt;
    }
    .home3text{
        font-size: 9pt;
    }
}
@media(min-width: 350px){
    .home3{
        margin-left: 25px;
        margin-right: 25px;
    }
    .home3head{
        margin-bottom: 10px;
        font-size: 20pt;
    }
    .home3text{
        font-size: 10pt;
    }
}
@media(min-width: 400px){
    .home3{
        margin-left: 25px;
        margin-right: 25px;
    }
    .home3head{
        margin-bottom: 10px;
        font-size: 21pt;
    }
    .home3text{
        font-size: 11pt;
    }
}
@media(min-width: 500px){
    .home3{
        margin-left: 50px;
        margin-right: 50px;
    }
    .home3head{
        margin-bottom: 10px;
        font-size: 22pt;
    }
    .home3text{
        font-size: 12pt;
    }
}

@media(min-width: 600px){
    .home3{
        margin-left: 75px;
        margin-right: 75px;
    }
    .home3head{
        margin-bottom: 20px;
        font-size: 23pt;
    }
    .home3text{
        font-size: 13pt;
    }
}

@media(min-width: 700px){
    .home3{
        margin-left: 100px;
        margin-right: 100px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }
}

@media(min-width: 800px){
    .home3{
        margin-left: 160px;
        margin-right: 160px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }
}
@media(min-width: 900px){
    .home3{
        margin-left: 200px;
        margin-right: 200px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }
}
@media(min-width: 1100px){
    .home3{
        margin-left: 260px;
        margin-right: 260px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }

}
@media(min-width: 1200px){
    .home3{
        margin-left: 300px;
        margin-right: 300px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }
}
@media(min-width: 1300px){
    .home3{
        margin-left: 360px;
        margin-right: 360px;
    }
    .home3head{
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .home3text{
        font-size: 14pt;
    }
}