 
<div class="ttc-body">


  <div class="careers-img-div">
   <img class="careers-img" src="assets/images/careers-page-header.jpg" alt="Header Image" width="100%" height="100%">

     <!-- <div class="block">
     <div class="careers-header-rectangle">
       <div class="careers-header-rectangle-text"style="font-size: vw;">Become a part of our team</div>
     </div>
     <div class="careers-header-body" style="font-size: 2vw;">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus velit adipiscing duis suspendisse sit purus. Faucibus sodales libero integer eget mauris nibh odio ullamcorper. Ac ultricies diam urna, aliquet integer. Odio feugiat quis turpis viverra cursus cursus vitae. Odio feugiat quis turpis viverra cursus vitae. 
     </div> 
   
   </div>  -->

   <div class="heading">
     <div class="rectangle">
       <div class="rect-text" style = "font-size: 2.5vw;"> Become a part of our team</div>
     </div>
     <div class = "sub-text" style="font-size: 1.4vw;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus velit adipiscing duis suspendisse sit purus. Faucibus sodales libero integer eget mauris nibh odio ullamcorper. Ac ultricies diam urna, aliquet integer. Odio feugiat quis turpis viverra cursus cursus vitae. Odio feugiat quis turpis viverra cursus vitae. 
     </div>
   </div>

 </div>

 <div class = "careerbottomgrid">
   <div class="toprow">
     <div class="titlelabel">Title</div>
     <div class="locationlabel" size="100%">Location</div>
   </div>
   <div class="careersrow">
     <div class="titlemargin"><button class="title">Enrichment Instructor</button></div>
     <div class="location" size="100%">Richmond, CA</div>
   </div>
   <div>
     <hr class="line">
   </div>
   <div class="careersrow">
     <div class="titlemargin"><button class="title">Designer</button></div>
     <div class="location" size="100%">Remote</div>
   </div>
   <div>
     <hr class="line">
   </div>
   <div class="careersrow">
     <div class="titlemargin"><button class="title">Digital Marketer</button></div>
     <div class="location" size="100%">Remote</div>
   </div>
   <div>
     <hr class="line">
   </div>
   <div class="careersrow">
     <div class="titlemarginbottom"><button class="title">Administrative Staff</button></div>
     <div class="location" size="100%">Remote</div>
   </div>
 </div>
 <app-footer></app-footer>

</div>