<div class="container">
  <img
    class="our-community-partners-img"
    src="assets/images/photo-1.jpg"
    alt="Lego Image"
  />
  <div class="our-community-partners-header-container">
    <div class="our-community-partners-header-rectangle">
      <div class="our-community-partners-header-rectangle-text">
        Our Community Partners
      </div>
    </div>
    <div class="our-community-partners-header-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus velit
      adipiscing duis suspendisse sit purus. Faucibus sodales libero integer
      eget mauris nibh odio ullamcorper. Ac ultricies diam urna, aliquet
      integer.
    </div>
  </div>
</div>